/* Resetting default styles*/   
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body ul{
    margin: 0;
    padding: 0;
}
/* styling the header*/
header{
    background:white;
    padding: 10px 0;
}
.container{
    display: flex;
    left: 20px;
    max-width: 3000px;
    margin: 0 auto;
    padding: 0 20px;
    color: whitesmoke;
    text-underline-offset: none;
}
/* stylling the logo?*/
.navbar h2{
    position: relative;
    height: 200px;
    width:205px;
    border-radius: 25%;
    border: 5px solid rgb(7, 88, 238);
    margin-top: 10px;
    color: white;
    font-size: x-large;
}

/* styling the navigatioin menu*/
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
nav ul li{
    display: inline;
    list-style: none;
    margin-left: 160px;
    margin-top: 20px;
    
    font-size: large;
    align-items: center;
}
 nav ul li a{
    position: absolute;
   text-decoration: none;
    padding: 10px;
    border: noe;
    border-radius: 5px;
    margin-right:1%;
    margin-left: 5%;
    color: black;
    font-size: large;
    align-items: center;
    font-weight: bolder;
}
.button button{
    position: absolute;
    padding: 10px;
  background-color: rgb(239, 74, 74);
  font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 252px;
    margin-top: 20px;
    left: 70%;
    border-radius: 15px;
    width: 10%;
    
}
.text{
    position: absolute;
    top: 30%;
    left: 22%;
    font-size: xx-large;
}

.text a{
    position: absolute;
    color: rgb(239, 74, 74);
    left: 15%;
}
.img1{
    position: absolute;
    background-color: black;
    height: 600px;
    top: 99%;
    width: 100%;
    
}
.img1 ul h1{
position: absolute;
font-size: x-large;
left: 5%;
top: 8%;

}
.img1 ul  h2 {
    position: absolute;
    left: 5%;
    top: 45%;
    font-size: x-large;
}
.img1 img{
    position: absolute;
    right: 7%;
    top: 8%;
    border-radius: 15px;
}
.text1 img{
position: absolute;
top: 200%;
left: 5%;
border-radius: 15px;
}
.text1 ul h1{
    position: absolute;
    font-size: x-large;
    right: 5%;
    top: 200%;
    
    }
    .text1 ul  h2 {
        position: absolute;
        right:  5%;
        top: 245%;
        font-size: x-large;
    }
    .text3{
        position: absolute;
        
        background-color: black;
        height: 900px;
        top: 290%;
        width: 100%;

    }
    .text3 header{
        position: absolute;
        left: 40%;
        height: 10%;
        top: 4%;
        background-color: black;
        font-size: large;
    }
    .text3 button{
        position: absolute;
        background-color:rgb(239, 74, 74);
        border-radius: 15px;
        left: 38%;
        width: 19%;
        height: 3%;
    }
    .photo1 img{
        position: absolute;
        left: 15%;
        top: 15%;

    }
    .photo2 img{
        position: absolute;
        left: 45%;
        top: 15%;

    }
    .photo3 img{
        position: absolute;
        right:  15%;
        top: 15%;

    }
    .photo4 img{
        position: absolute;
        left: 15%;
        top: 65%;

    }
    .photo5 img{
        position: absolute;
        left: 45%;
        top: 65%;

    }
    .photo6 img{
        position: absolute;
        right:  15%;
        top: 65%;

    }
    .photo1 h2{
        position: absolute;
        left: 10%;
        top: 25%;  
        color: white;

    }
    .photo1 h3{
        position: absolute;
        left: 8%;
        top: 30%;  
        color: white;

    }
    .photo2 h2{
        position: absolute;
        left: 45%;
        top: 25%;  
        color: white;

    }
    .photo2 h3{
        position: absolute;
        left: 40%;
        top: 30%;  
        color: white;

    }
    .photo3 h2{
        position: absolute;
        right:  10%;
        top: 25%;  
        color: white;

    }
    .photo3 h3{
        position: absolute;
        right: 3%;
        top: 30%;  
        color: white;

    }
    .photo4 h2{
        position: absolute;
        left: 13%;
        top: 72%;  
        color: white;

    }
    .photo4 h3{
        position: absolute;
        left: 8%;
        top: 78%;  
        color: white;

    }
    .photo5 h2{
        position: absolute;
        left: 45%;
        top: 72%;  
        color: white;

    }
    .photo5 h3{
        position: absolute;
        left: 40%;
        top: 77%;  
        color: white;

    }
    .photo6 h2{
        position: absolute;
        right:  7%;
        top: 72%;  
        color: white;

    }
    .photo6 h3{
        position: absolute;
        right: 3%;
        top: 77%;  
        color: white;
    }
    .text4 h1{
        position: absolute;
        top: 430%;
        left: 35%;
        font-weight: bolder;
        width: 70%;
        
        
    }
    .text4 img{
        position: absolute;
top: 450%;
right: 5%;
border-radius: 15px;
height: 65%;
width: 35%;
    }
    .text4 h3{
        position: absolute;
        top: 470%;
        left: 5%;
        height: 75%;
        font-size: large;
        font-weight: 800;
    }

    .text5 img{
        position: absolute;
top: 510%;
left: 5%;
border-radius: 15px;
border-color: black;
height: 65%;
width: 35%;
    }
    .text5 h3{
        position: absolute;
        top: 530%;
        right:  5%;
        height: 75%;
        font-size: large;
        font-weight: 800;
    }
    .footer{
        position: absolute;
        padding: 5%;
        background-color: black;
        top: 580%;
        width: 100%;
    }
    .footer h5{
        position: absolute;
        padding: 1.5%;
        top: 80%;
        color: white;
        bottom: 0%;
        width: 100%;
        font-weight: lighter;
    }
.part1 {
    position: absolute;
    left: 40%;
    top: 5%;
   
}

.part1  h3{
    position: absolute;
    left: 30%;
    top: 90%;
    text-underline-offset: none;
    justify-content: space-between;
   
}
.part2 {
    position: absolute;
    right:  10%;
    top: 5%;
   
}






